In [3]:
n = [108, 105, 115, 116]
for i in n:
    print(chr(i))

l
i
s
t

In [5]:
class elefant():
    x = 0
    
    def __init__(self):
        print("I'am constructed..")
    def party(self):
        self.x = self.x + 1
        print("My 'x' is now: ", self.x)
    
    def __del__(self):
        print("I'am destructed. My 'x' was: ", self.x)

bob = elefant()

I'am constructed..
I'am destructed. My 'x' was:  0

In [8]:
bob.party()

My 'x' is now:  3

In [9]:
bob = 5

I'am destructed. My 'x' was:  3

In [2]:
import sqlite3

conn = sqlite3.connect("../../../00_Common_Data_Sets/emaildb.sqlite")
cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS Counts")

cur.execute("CREATE TABLE Counts(email TEXT, count INTEGER)")

fname = input('Enter file Name: ')
if (len(fname) < 1):
    fname = "../../../00_Common_Data_Sets/mbox-short.txt"
    
fh = open(fname)

for line in fh:
    if not line.startswith("From: "):
        continue
    pieces = line.split()
    email = pieces[1]
    cur.execute("SELECT count FROM Counts WHERE email = ?", (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute("INSERT INTO Counts (email, count) VALUES (?,1)", (email,) )
        
    else:
        cur.execute("UPDATE Counts SET count = count + 1 WHERE email = ?", (email,))
        
    conn.commit()
    
sqlstr = "SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10"

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])
    

cur.close()

Enter file Name:
cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

To get credit for this assignment, perform the instructions below and upload your SQLite3 database here:

(Must have a .sqlite suffix)
Hint: The top organizational count is 536.
You do not need to export or convert the database - simply upload the .sqlite file that your program creates. See the example code for the use of the connect() statement.

Counting Organizations
This application will read the mailbox data (mbox.txt) and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

CREATE TABLE Counts (org TEXT, count INTEGER)
When you have run the program on mbox.txt upload the resulting database file above for grading.
If you run the program multiple times in testing or with dfferent files, make sure to empty out the data before each run.

You can use this code as a starting point for your application: http://www.py4e.com/code3/emaildb.py.

The data file for this application is the same as in previous assignments: http://www.py4e.com/code3/mbox.txt.

Because the sample code is using an UPDATE statement and committing the results to the database as each record is read in the loop, it might take as long as a few minutes to process all the data. The commit insists on completely writing all the data to disk every time it is called.

The program can be speeded up greatly by moving the commit operation outside of the loop. In any database program, there is a balance between the number of operations you execute between commits and the importance of not losing the results of operations that have not yet been committed.

In [6]:
import sqlite3

conn = sqlite3.connect("../../../00_Common_Data_Sets/maildb.sqlite")
cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS Counts")

cur.execute("CREATE TABLE Counts(org TEXT, count INTEGER)")

fname = input('Enter file Name: ')
if (len(fname) < 1):
    fname = "../../../00_Common_Data_Sets/code3/mbox.txt"
    
fh = open(fname)

for line in fh:
    if not line.startswith("From: "):
        continue
    pieces = line.split()
    org = pieces[1].split("@")[1]
    cur.execute("SELECT count FROM Counts WHERE org = ?", (org,))
    row = cur.fetchone()
    if row is None:
        cur.execute("INSERT INTO Counts (org, count) VALUES (?,1)", (org,) )
        
    else:
        cur.execute("UPDATE Counts SET count = count + 1 WHERE org = ?", (org,))
        
    conn.commit()
    
sqlstr = "SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10"

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])
    

cur.close()

Enter file Name:
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

To get credit for this assignment, perform the instructions below and upload your SQLite3 database here:

(Must have a .sqlite suffix)
You do not need to export or convert the database - simply upload the .sqlite file that your program creates. See the example code for the use of the connect() statement.

Musical Track Database
This application will read an iTunes export file in XML and produce a properly normalized database with this structure:

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
If you run the program multiple times in testing or with different files, make sure to empty out the data before each run.

You can use this code as a starting point for your application: http://www.py4e.com/code3/tracks.zip. The ZIP file contains the Library.xml file to be used for this assignment. You can export your own tracks from iTunes and create a database, but for the database that you turn in for this assignment, only use the Library.xml data that is provided.

To grade this assignment, the program will run a query like this on your uploaded database and look for the data it expects to see:

SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name LIMIT 3
The expected result of the modified query on your database is: (shown here as a simple HTML table with titles)
Select Language​▼
Track	Artist	Album	Genre
Chase the Ace	AC/DC	Who Made Who	Rock
D.T.	AC/DC	Who Made Who	Rock
For Those About To Rock (We Salute You)	AC/DC	Who Made Who	Rock

In [14]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('../../../00_Common_Data_Sets/databases/trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
DROP TABLE IF EXISTS Genre;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) :
    fname = "../../../00_Common_Data_Sets/tracks/Library.xml"

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')
    genre = lookup(entry, 'Genre')

    if name is None or artist is None or album is None or genre is None: 
        continue

    print(name, artist, album, genre, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, genre_id, length, rating, count ) )

    conn.commit()

Enter file name:
Dict count: 404
Another One Bites The Dust Queen Greatest Hits Rock 55 100 217103
Asche Zu Asche Rammstein Herzeleid Industrial 79 100 231810
Beauty School Dropout Various Grease Soundtrack 48 100 239960
Black Dog Led Zeppelin IV Rock 109 100 296620
Bring The Boys Back Home Pink Floyd The Wall [Disc 2] Rock 33 100 87118
Circles Bryan Lee Blues Is Funk 54 60 355369
Comfortably Numb Pink Floyd The Wall [Disc 2] Rock 36 100 384130
Crazy Little Thing Called Love Queen Greatest Hits Rock 38 100 163631
Electric Funeral Black Sabbath Paranoid Metal 44 100 293015
Fat Bottomed Girls Queen Greatest Hits Rock 38 100 257515
For Those About To Rock (We Salute You) AC/DC Who Made Who Rock 84 100 353750
Four Sticks Led Zeppelin IV Rock 84 100 284421
Furious Angels Rob Dougan The Matrix Reloaded Soundtrack 54 100 330004
Gelle Bryan Lee Blues Is Blues/R&B 45 60 199836
Going To California Led Zeppelin IV Rock 100 100 215666
Grease Various Grease Soundtrack 42 100 205792
Hand of Doom Black Sabbath Paranoid Metal 36 100 429609
Hells Bells AC/DC Who Made Who Rock 82 100 312946
Hey You Pink Floyd The Wall [Disc 2] Rock 23 100 282305
I Worry Bryan Lee Blues Is Blues/R&B 33 100 341315
Iron Man Black Sabbath Paranoid Metal 39 100 358530
Is There Anybody Out There? Pink Floyd The Wall [Disc 2] Rock 26 100 160679
It was a Very Good Year Frank Sinatra Greatest Hits Easy Listening 39 100 268852
Its Your Move Bryan Lee Blues Is Blues/R&B 40 100 245002
Jack the Stripper/Fairies Wear Boots Black Sabbath Paranoid Metal 35 100 373995
Killer Queen Queen Greatest Hits Rock 34 100 181368
Laichzeit Rammstein Herzeleid Industrial 41 100 262844
Let me Down Easy Bryan Lee Blues Is Blues/R&B 43 100 331441
Misty Mountain Hop Led Zeppelin IV Rock 88 100 278831
No Low Down Bryan Lee Blues Is Blues/R&B 39 100 245760
Now You Are Gone America Greatest Hits Easy Listening 52 100 187559
Outside The Wall Pink Floyd The Wall [Disc 2] Rock 16 100 104437
Paranoid Black Sabbath Paranoid Metal 36 100 172930
Planet Caravan Black Sabbath Paranoid Metal 38 100 274938
Pretty Jeanie Bryan Lee Blues Is Blues/R&B 34 100 225175
Rammstein Rammstein Herzeleid Industrial 45 100 265090
Rat Salad Black Sabbath Paranoid Metal 46 100 150230
Rock & Roll Led Zeppelin IV Rock 109 100 220891
Rode Across the Desert America Greatest Hits Easy Listening 60 100 249887
Sandy Various Grease Soundtrack 36 100 155742
Shake Your Foundations AC/DC Who Made Who Rock 85 100 233769
Sister Golden Hair America Greatest Hits Easy Listening 60 100 202057
Somebody To Love Queen Greatest Hits Rock 17 100 297586
Stairway To Heaven Led Zeppelin IV Rock 93 100 481567
Strangers in the Night Frank Sinatra Greatest Hits Easy Listening 42 100 158484
Summer Nights Various Grease Soundtrack 35 100 216973
Summer Wind Frank Sinatra Greatest Hits Easy Listening 46 100 177554
Thats Life Frank Sinatra Greatest Hits Easy Listening 43 100 189988
The Battle Of Evermore Led Zeppelin IV Rock 110 100 351529
The Blues "Is" Bryan Lee Blues Is Blues/R&B 45 100 252238
There it Is Bryan Lee Blues Is Blues/R&B 35 100 395441
Think Bryan Lee Blues Is Blues/R&B 41 100 320339
This Town Frank Sinatra Greatest Hits Easy Listening 44 100 185051
Tin Man America Greatest Hits Easy Listening 50 100 210076
Track 01 Billy Price Danger Zone Blues/R&B 47 100 261825
Track 02 Billy Price Danger Zone Blues/R&B 42 100 165459
Track 03 Billy Price Danger Zone Blues/R&B 41 100 206471
Messin with the Kid The Canettes Blues Band Self Titled Blues/R&B 23 100 226377
Track 04 Billy Price Danger Zone Blues/R&B 37 100 257175
Stormy Monday The Canettes Blues Band Self Titled Blues/R&B 29 100 464143
Track 05 Billy Price Danger Zone Blues/R&B 42 100 230295
Waiting on Ice Bryan Lee Blues Is Blues/R&B 37 100 289384
War Pigs/Luke's Wall Black Sabbath Paranoid Metal 38 100 478197
We Are The Champions Queen Greatest Hits Rock 24 100 181864
We Will Rock You Queen Greatest Hits Rock 33 100 123559
When Somebody Loves You Frank Sinatra Greatest Hits Easy Listening 43 100 117263
When The Levee Breaks Led Zeppelin IV Rock 83 100 427624
You are the One that I Want Various Grease Soundtrack 31 100 169900
You Done Me Wrong Bryan Lee Blues Is Blues/R&B 35 100 200097
You Shook Me All Night Long AC/DC Who Made Who Rock 92 100 210938
You're My Best Friend Queen Greatest Hits Rock 31 100 172643
Zion Fluke The Matrix Reloaded Soundtrack 47 100 273528
Who Made Who AC/DC Who Made Who Rock 110 100 207203
D.T. AC/DC Who Made Who Rock 90 None 173714
Sink the Pink AC/DC Who Made Who Rock 83 None 253466
Ride On AC/DC Who Made Who Rock 75 None 351268
Chase the Ace AC/DC Who Made Who Rock 93 None 181420
Wollt Ihr Das Bett In Flammen Sehen Rammstein Herzeleid Industrial 50 None 317387
Der Meister Rammstein Herzeleid Industrial 46 None 250801
Weisses Fleisch Rammstein Herzeleid Industrial 52 None 215902
Seemann Rammstein Herzeleid Industrial 34 None 288235
Du Riechst So Gut Rammstein Herzeleid Industrial 50 None 289332
Das Alte Leid Rammstein Herzeleid Industrial 46 None 344581
Heirate Mich Rammstein Herzeleid Industrial 39 None 284734
Herzeleid Rammstein Herzeleid Industrial 42 None 223425
Baba O'Riley The Who Who's Next Rock 45 None 298448
Bargain The Who Who's Next Rock 37 None 331676
Love Ain't for Keeping The Who Who's Next Rock 24 None 130560
My Wife The Who Who's Next Rock 17 None 213786
The Song Is Over The Who Who's Next Rock 14 None 375797
Getting In Tune The Who Who's Next Rock 27 None 288809
Going Mobile The Who Who's Next Rock 28 100 221910
Behind Blue Eyes The Who Who's Next Rock 43 None 221570
Won't Get Fooled Again The Who Who's Next Rock 21 None 511111
Folsom Prison Blues Johnny Cash The Legend Of Johnny Cash Country 47 100 170004
I Walk The Line Johnny Cash The Legend Of Johnny Cash Country 33 100 165720
Get Rhythm Johnny Cash The Legend Of Johnny Cash Country 35 100 134530
Big River Johnny Cash The Legend Of Johnny Cash Country 51 None 152711
Guess Things Happen That Way Johnny Cash The Legend Of Johnny Cash Country 35 None 111386
Ring Of Fire Johnny Cash The Legend Of Johnny Cash Country 30 100 157100
Jackson Johnny Cash The Legend Of Johnny Cash Country 35 100 166530
A Boy Named Sue (live) Johnny Cash The Legend Of Johnny Cash Country 37 None 226063
You Raise Me Up Selah Hiding Place Gospel & Religious 9 None 302262
Hold On, I'm Coming The Canettes Blues Band On Tap & In the Can Blues/R&B 34 100 282566
Got my Mojo Working The Canettes Blues Band On Tap & In the Can Blues/R&B 52 100 310517
Sweet Home Chicago The Canettes Blues Band On Tap & In the Can Blues/R&B 27 100 375849
Heavy Love The Canettes Blues Band On Tap & In the Can Blues/R&B 28 100 253544
Cold Cold Feeling The Canettes Blues Band On Tap & In the Can Blues/R&B 43 100 261929
Lonely Avenue The Canettes Blues Band On Tap & In the Can Blues/R&B 24 100 292022
Good Morning Little Schoolgirl The Canettes Blues Band On Tap & In the Can Blues/R&B 20 100 278648
Dust My Broom The Canettes Blues Band On Tap & In the Can Blues/R&B 24 100 299311
Gimme' Some Lovin The Canettes Blues Band On Tap & In the Can Blues/R&B 35 100 227239
Everybody Needs Somebody to Love The Canettes Blues Band On Tap & In the Can Blues/R&B 24 100 195186
Black Magic Woman The Canettes Blues Band On Tap & In the Can Blues/R&B 31 100 442644
Steppin' Rooster The Canettes Blues Band On Tap & In the Can Blues/R&B 21 100 704862
Our Love is Drifting The Canettes Blues Band On Tap & In the Can Blues/R&B 15 100 292649
Doin' 100 The Canettes Blues Band On Tap & In the Can Blues/R&B 20 100 343980
Mother Joy Matt Ender Natural Wonders Music Sampler 1999 New Age 463 None 287294
Soldier's Lament Steve McDonald Natural Wonders Music Sampler 1999 New Age 371 None 347193
Dulaman Altan Natural Wonders Music Sampler 1999 New Age 403 None 223007
The Arrow Chris Spheeris Natural Wonders Music Sampler 1999 New Age 416 None 319869
Spanish Eyes La Esperanza Natural Wonders Music Sampler 1999 New Age 375 None 259030
Banana Bay Luis Villegas Natural Wonders Music Sampler 1999 New Age 403 None 198060
Aguas De Marco Rosa Passos Natural Wonders Music Sampler 1999 New Age 407 None 179408
Tamborea Energipsy Natural Wonders Music Sampler 1999 New Age 355 None 235389
Gone Hollie Smith Natural Wonders Music Sampler 1999 New Age 362 None 196414
The Immigrant Joanie Madden Natural Wonders Music Sampler 1999 New Age 350 None 362631

Pahrump-Big Water Cusco Natural Wonders Music Sampler 1999 New Age 342 None 191634
Seeker's Quest Cheryl Gunn Natural Wonders Music Sampler 1999 New Age 337 None 236434
Floating To Forever Dean Everson Natural Wonders Music Sampler 1999 New Age 337 None 351686
Open Road Jeff Bailey Relaxing Jazz Jazz 10 None 318563
Ruby Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 13 None 205008
The Angry Mob Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 41 None 288313
Heat Dies Down Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 12 None 237061
Highroyds Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 10 None 199575
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 11 None 197799
Thank You Very Much Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 11 None 157753
I Can Do It Without You Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 11 None 204199
My Kind Of Guy Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 10 None 246595
Everything Is Average Nowadays Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 16 None 164754
Learnt My Lesson Well Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 9 None 325955
Try Your Best Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 8 None 222511
Retirement Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 10 None 237426
The Angry Mob [Live From Berlin] Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 40 None 279066
I Like To Fight Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 8 None 218566
From The Neck Down Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk 15 None 147226
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 1 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business 15 None 8586749
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 2 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business 9 None 8443432
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 3 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business 3 None 4168829
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 1 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction 4 None 7920893
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 2 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction None None 7921106
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 3 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction None None 7965736
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 4 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction 1 None 9653330
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 5 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction None None 746536
Misty David Osborne Moonlight And Love Songs Classical 302 None 249312
My Funny Valentine David Osborne Moonlight And Love Songs Classical 301 None 235885
Since I Don't Have You David Osborne Moonlight And Love Songs Classical 288 None 251846
Tenderly David Osborne Moonlight And Love Songs Classical 284 None 227395
When I Fall In Love David Osborne Moonlight And Love Songs Classical 281 None 187768
Unforgettable David Osborne Moonlight And Love Songs Classical 280 None 272927
The Way You Look Tonight David Osborne Moonlight And Love Songs Classical 277 None 247222
I've Grown Accustomed To Your Face David Osborne Moonlight And Love Songs Classical 280 None 148035
Smoke Gets In Your Eyes David Osborne Moonlight And Love Songs Classical 277 None 198504
Fly Me To The Moon David Osborne Moonlight And Love Songs Classical 275 None 182543
Unchained Melody David Osborne Moonlight And Love Songs Classical 265 None 259369
These Foolish Things Remind Me Of You David Osborne Moonlight And Love Songs Classical 267 None 184711
La Vie En Rose David Osborne Moonlight And Love Songs Classical 259 None 276767
As Time Goes By David Osborne Moonlight And Love Songs Classical 290 None 257985
Pilot Fairly Legal Fairly Legal, Season 1 Drama 1 None 3847006
hte postal service - the impor The Postal Service unreleased demo Electronic None None 193959
Winter Wonderland Bing Crosby Seasons Greatings Holiday 163 None 144744
Jingle Bells Frank Sinatra Seasons Greatings Holiday 271 None 121756
White Christmas Bing Crosby Seasons Greatings Holiday 158 None 95634
The Christmas Song Frank Sinatra Seasons Greatings Holiday 272 None 209632
Little Drummer Boy Bing Crosby Seasons Greatings Holiday 154 None 178311
Silent Night Frank Sinatra Seasons Greatings Holiday 257 None 149054
Let It Snow Bing Crosby Seasons Greatings Holiday 154 None 125126
Mistletoe And Holly Frank Sinatra Seasons Greatings Holiday 257 None 138501
O Holy Night Bing Crosby Seasons Greatings Holiday 150 None 214021
Have Yourself A Merry Little Christmas Frank Sinatra Seasons Greatings Holiday 252 None 208248
Do You Hear What I Hear Bing Crosby Seasons Greatings Holiday 155 None 164728
I'll Be Home For Christmas Frank Sinatra Seasons Greatings Holiday 249 None 190876
Voices Disturbed The Sickness Alternative None None 191764
The Game Disturbed The Sickness Alternative 1 None 227134
Stupify Disturbed The Sickness Alternative 1 None 274233
Down With The Sickness Disturbed The Sickness Alternative 1 None 278726
Violence Fetish Disturbed The Sickness Alternative None None 203833
Fear Disturbed The Sickness Alternative 4 None 227004
Numb Disturbed The Sickness Alternative None None 224940
Want Disturbed The Sickness Alternative None None 232803
Conflict Disturbed The Sickness Alternative 5 None 275330
Shout 2000 Disturbed The Sickness Alternative 1 None 257802
Droppin' Plates Disturbed The Sickness Alternative 4 None 229302
Meaning Of Life Disturbed The Sickness Alternative 3 None 242599
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast 1 None 3428075
Eben Upton: Raspberry Pi IEEE Computer Society Computing Conversations Podcast 2 None 661368
Andrew Tanenbaum: Writing the Book on Networks IEEE Computer Society Computing Conversations Podcast 4 None 535040
Massimo Banzi: Building Arduino IEEE Computer Society Computing Conversations Podcast 1 None 567745
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1683800
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2578416
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2296058
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast 1 None 2804297
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1677844
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1478713
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1636231
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2254445
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1597596
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2123702
John C. Hollar: History of Computing IEEE Computer Society Computing Conversations Podcast 1 None 694073
Bob Metcalfe: Ethernet at Forty IEEE Computer Society Computing Conversations Podcast None None 1031392
Gordon Bell: Building Blocks of Computing IEEE Computer Society Computing Conversations Podcast 1 None 744620
Ian Horrocks: Standardizing OWL IEEE Computer Society Computing Conversations Podcast 1 None 572212

Katie Hafner: The Origins of the Internet IEEE Computer Society Computing Conversations Podcast 1 None 652460
Larry Smarr: Building Mosaic IEEE Computer Society Computing Conversations Podcast None None 894693
Len Kleinrock: The Theory of Packets IEEE Computer Society Computing Conversations Podcast 1 None 674742
Mitchell Baker: The Mozilla Foundation IEEE Computer Society Computing Conversations Podcast None None 994246
Pooja Sankar: Building the Piazza Collaboration System IEEE Computer Society Computing Conversations Podcast None None 496404
Van Jacobson: Content-Centric Networking IEEE Computer Society Computing Conversations Podcast None None 780251
The Apache Software Foundation IEEE Computer Society Computing Conversations Podcast None None 542484
A Brief History of Packets IEEE Computer Society Computing Conversations Podcast None None 1004643
Discovering JavaScript Object Notation IEEE Computer Society Computing Conversations Podcast None None 650971
Inventing PHP IEEE Computer Society Computing Conversations Podcast None None 494915
Monash Museum of Computing History IEEE Computer Society Computing Conversations Podcast None None 362657
The Rise of JavaScript IEEE Computer Society Computing Conversations Podcast None None 526132
Joseph Hardin: NCSA Mosaic IEEE Computer Society Computing Conversations Podcast None None 845635
Len Kleinrock on the Internet's First Two Packets IEEE Computer Society Computing Conversations Podcast 1 None 594390
Doug Van Houweling on Building the NSFNet IEEE Computer Society Computing Conversations Podcast None None 773146
Computing Conversations: Nathaniel Borenstein on MIME IEEE Computer Society Computing Conversations Podcast None None 682135
You Don't Mess Around With Jim Jim Croce Classic Hits Folk None None 184398
Andrew S. Tanenbaum on MINIX IEEE Computer Society Computing Conversations Podcast None None 603000
Computing Conversations: Elizabeth Fong on SQL Standards IEEE Computer Society Computing Conversations Podcast None None 533577
Nii Quaynor on Bringing the Internet to Africa IEEE Computer Society Computing Conversations Podcast 1 None 673332
PHP-09-Transactions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 1728888
PHP-01-Intro.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2250624
PHP-02-Install.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast 1 None None
PHP-04-Expressions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2168064
PHP-05-Functions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 1446792
PHP-06-Strings.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 417696
PHP-12-Sessions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3624312
PHP-06-Objects.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2455368
SI664-13-JSON-A.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 4407672
PHP-13-JavaScript.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3650088
PHP-09-Database-Design.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3591072
PHP-Tsugi-Install.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3181656
PHP-10-MySQL-PDO.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 4536685
PHP-08-MySQL.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 3994656
SI664-13-JSON-B.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 1484616
IMS-Learning-Tools-Interoperability.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast None None 2185848
An Interview with Don Waters Matt Pasiewicz CNI Event Coverage Speech 2 None 1411082
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2123702
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1597596
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2254445
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1636231
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1478713
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1677844
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2804297
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1683800
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2296058
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2578416
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 3428075
Py4Inf-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2123702
Py4Inf-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1597596
Py4Inf-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2254445
Py4Inf-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1636231
Py4Inf-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1478713
Py4Inf-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1677844
Py4Inf-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2804297
Py4Inf-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 1683800
Py4Inf-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2296058
Py4Inf-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 2578416
Py4Inf-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast None None 3428075
Ian Foster on the Globus Project IEEE Computer Society Computing Conversations Podcast 1 None 538305
Khan Academy and Computer Science IEEE Computer Society Computing Conversations Podcast 1 None 558837
Guido van Rossumon the Early Years of Python IEEE Computer Society Computing Conversations Podcast 1 None 701884
Guido van Rossum on the Modern Era of Python IEEE Computer Society Computing Conversations Podcast None None 741616
John Resig on Building jQuery IEEE Computer Society Computing Conversations Podcast None None 595983
Roy T. Fielding on Understanding the REST Style IEEE Computer Society Computing Conversations Podcast 1 None 683650
Anil Jain: 25 Years of Biometric Recognition IEEE Computer Society Computing Conversations Podcast None None 661368
Waste Management Undercover Boss Undercover Boss, Season 1 Reality TV 1 None 2565232
Sleep Like a Baby Tonight U2 Songs of Innocence Rock None None 301641
Evergreen The Black Crowes Warpaint Rock None None 261373
Oh Josephine The Black Crowes Warpaint Rock None None 398907
Movin' On Down the Line The Black Crowes Warpaint Rock None None 342693
Wounded Bird The Black Crowes Warpaint Rock None None 263453
Volcano U2 Songs of Innocence Rock None None 194116
Wee Who See the Deep The Black Crowes Warpaint Rock None None 290520
Cedarwood Road U2 Songs of Innocence Rock None None 265268
Locust Street The Black Crowes Warpaint Rock None None 255240
Raised By Wolves U2 Songs of Innocence Rock None None 245599
The Troubles U2 Songs of Innocence Rock None None 285843
This Is Where You Can Reach Me Now U2 Songs of Innocence Rock None None 305134
God's Got It The Black Crowes Warpaint Rock None None 202653
California (There Is No End to Love) U2 Songs of Innocence Rock None None 239846
Every Breaking Wave U2 Songs of Innocence Rock None None 252162
Interview With the Onion News Network Onion News Network Onion News Network, Season 1 Comedy 1 None 302002

Song for Someone U2 Songs of Innocence Rock None None 226763
The Miracle (Of Joey Ramone) U2 Songs of Innocence Rock None None 255382
Iris (Hold Me Close) U2 Songs of Innocence Rock None None 319457
Goodbye Daughters of the Revolution The Black Crowes Warpaint Rock None None 304147
Walk Believer Walk The Black Crowes Warpaint Rock None None 280253
Choice Hotels International Undercover Boss Undercover Boss, Season 2 Reality TV 1 None 2614047
Microchip Jason Farnham YouTube Audio Library Dance & Electronic None None 114336
Anant Agarwal IEEE Computer Society Computing Conversations Podcast None None 494000

To get credit for this assignment, perform the instructions below and enter the code you get here:
 
(Hint: starts with 416)
Instructions
This application will read roster data in JSON format, parse the file, and then produce an SQLite database that contains a User, Course, and Member table and populate the tables from the data file.

You can base your solution on this code: http://www.py4e.com/code3/roster/roster.py - this code is incomplete as you need to modify the program to store the role column in the Member table to complete the assignment.

Each student gets their own file for the assignment. Download this file and save it as roster_data.json. Move the downloaded file into the same folder as your roster.py program.

Once you have made the necessary changes to the program and it has been run successfully reading the above JSON data, run the following SQL command:

SELECT hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X
Find the first row in the resulting record set and enter the long string that looks like 53656C696E613333.

In [16]:
import json
import sqlite3

conn = sqlite3.connect('../../../00_Common_Data_Sets/databases/rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = '../../../00_Common_Data_Sets/roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2]

    print((name, title, "Role: ", role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id, role ) )

    conn.commit()

Enter file name:
('Justyna', 'si110', 'Role: ', 1)
('Eidhan', 'si110', 'Role: ', 0)
('Daymian', 'si110', 'Role: ', 0)
('Caidan', 'si110', 'Role: ', 0)
('Connar', 'si110', 'Role: ', 0)
('Hayden', 'si110', 'Role: ', 0)
('Chahat', 'si110', 'Role: ', 0)
('Crystal', 'si110', 'Role: ', 0)
('Zainedin', 'si110', 'Role: ', 0)
('Aref', 'si110', 'Role: ', 0)
('Rhian', 'si110', 'Role: ', 0)
('Shihed', 'si110', 'Role: ', 0)
('Kacy', 'si110', 'Role: ', 0)
('Babyjane', 'si110', 'Role: ', 0)
('Tobi', 'si110', 'Role: ', 0)
('Robyn', 'si110', 'Role: ', 0)
('Oswald', 'si110', 'Role: ', 0)
('Sayeda', 'si110', 'Role: ', 0)
('Luciana', 'si110', 'Role: ', 0)
('Farhaan', 'si110', 'Role: ', 0)
('Kasper', 'si110', 'Role: ', 0)
('Jocelyn', 'si110', 'Role: ', 0)
('Frank', 'si110', 'Role: ', 0)
('Rayne', 'si110', 'Role: ', 0)
('Rivan', 'si110', 'Role: ', 0)
('Layton', 'si110', 'Role: ', 0)
('Jahid', 'si110', 'Role: ', 0)
('Bradly', 'si110', 'Role: ', 0)
('Richie', 'si110', 'Role: ', 0)
('Finnan', 'si106', 'Role: ', 1)
('Alessio', 'si106', 'Role: ', 0)
('Julietta', 'si106', 'Role: ', 0)
('Sammie', 'si106', 'Role: ', 0)
('Mylo', 'si106', 'Role: ', 0)
('Wilkie', 'si106', 'Role: ', 0)
('Luqman', 'si106', 'Role: ', 0)
('Tighan', 'si106', 'Role: ', 0)
('Matt', 'si106', 'Role: ', 0)
('Matthias', 'si106', 'Role: ', 0)
('Teydren', 'si106', 'Role: ', 0)
('Terra', 'si106', 'Role: ', 0)
('Paula', 'si106', 'Role: ', 0)
('Aine', 'si106', 'Role: ', 0)
('Laina', 'si106', 'Role: ', 0)
('Nelson', 'si106', 'Role: ', 0)
('Joojo', 'si106', 'Role: ', 0)
('Adeena', 'si106', 'Role: ', 0)
('Tayler', 'si106', 'Role: ', 0)
('Aryan', 'si106', 'Role: ', 0)
('Zacharias', 'si106', 'Role: ', 0)
('Elona', 'si106', 'Role: ', 0)
('Keely', 'si106', 'Role: ', 0)
('Josephina', 'si106', 'Role: ', 0)
('Majka', 'si106', 'Role: ', 0)
('Deshawn', 'si106', 'Role: ', 0)
('Derin', 'si106', 'Role: ', 0)
('Kaleena', 'si106', 'Role: ', 0)
('Tyler', 'si106', 'Role: ', 0)
('Sabrina', 'si106', 'Role: ', 0)
('Abir', 'si106', 'Role: ', 0)
('Rebecka', 'si206', 'Role: ', 1)
('Zhuo', 'si206', 'Role: ', 0)
('Leilan', 'si206', 'Role: ', 0)
('Stephenjunior', 'si206', 'Role: ', 0)
('Karhys', 'si206', 'Role: ', 0)
('Leylann', 'si206', 'Role: ', 0)
('Torsten', 'si206', 'Role: ', 0)
('Danyil', 'si206', 'Role: ', 0)
('Kuzivakwashe', 'si206', 'Role: ', 0)
('Bekki', 'si206', 'Role: ', 0)
('Simra', 'si206', 'Role: ', 0)
('Chanelle', 'si206', 'Role: ', 0)
('Sofie', 'si206', 'Role: ', 0)
('Phoevos', 'si206', 'Role: ', 0)
('Alisha', 'si206', 'Role: ', 0)
('Jun', 'si206', 'Role: ', 0)
('Aarthi', 'si206', 'Role: ', 0)
('Nickhill', 'si206', 'Role: ', 0)
('Lettice', 'si206', 'Role: ', 0)
('Kian', 'si206', 'Role: ', 0)
('Carris', 'si301', 'Role: ', 1)
('Elizaveta', 'si301', 'Role: ', 0)
('Sajjad', 'si301', 'Role: ', 0)
('Vithujan', 'si301', 'Role: ', 0)
('Doha', 'si301', 'Role: ', 0)
('Sinem', 'si301', 'Role: ', 0)
('Aden', 'si301', 'Role: ', 0)
('Oisin', 'si301', 'Role: ', 0)
('Mackena', 'si301', 'Role: ', 0)
('Jaelyn', 'si301', 'Role: ', 0)
('Natascha', 'si301', 'Role: ', 0)
('Lexis', 'si301', 'Role: ', 0)
('Sienna', 'si301', 'Role: ', 0)
('Sharilee', 'si301', 'Role: ', 0)
('Ellae', 'si301', 'Role: ', 0)
('Oghenedoro', 'si301', 'Role: ', 0)
('Taysia', 'si301', 'Role: ', 0)
('Caedyn', 'si301', 'Role: ', 0)
('Charlotte', 'si301', 'Role: ', 0)
('Hanna', 'si301', 'Role: ', 0)
('Cristian', 'si301', 'Role: ', 0)
('Ziyaan', 'si301', 'Role: ', 0)
('Devin', 'si301', 'Role: ', 0)
('Eduards', 'si310', 'Role: ', 1)
('Theo', 'si310', 'Role: ', 0)
('Madelaine', 'si310', 'Role: ', 0)
('Lianne', 'si310', 'Role: ', 0)
('Karam', 'si310', 'Role: ', 0)
('Dara', 'si310', 'Role: ', 0)
('Nuriyah', 'si310', 'Role: ', 0)
('Teigan', 'si310', 'Role: ', 0)
('Tammam', 'si310', 'Role: ', 0)
('Frazer', 'si310', 'Role: ', 0)
('Milley', 'si310', 'Role: ', 0)
('Livie', 'si310', 'Role: ', 0)
('Paidamoyo', 'si310', 'Role: ', 0)
('Shawnpaul', 'si310', 'Role: ', 0)
('Suzi', 'si310', 'Role: ', 0)
('Trai', 'si310', 'Role: ', 0)
('Antoine', 'si310', 'Role: ', 0)
('Isabela', 'si310', 'Role: ', 0)
('Sylvie', 'si310', 'Role: ', 0)
('Arwa', 'si310', 'Role: ', 0)
('Kyla', 'si310', 'Role: ', 0)
('Kailas', 'si310', 'Role: ', 0)
('Cobi', 'si310', 'Role: ', 0)
('Bradlie', 'si310', 'Role: ', 0)
('Alana', 'si310', 'Role: ', 0)
('Camille', 'si310', 'Role: ', 0)
('Arihant', 'si310', 'Role: ', 0)
('Dua', 'si310', 'Role: ', 0)
('Dhara', 'si310', 'Role: ', 0)
('Braydyn', 'si334', 'Role: ', 1)
('Rafi', 'si334', 'Role: ', 0)
('Aileigh', 'si334', 'Role: ', 0)
('Aleshia', 'si334', 'Role: ', 0)
('Christina', 'si334', 'Role: ', 0)
('Yousif', 'si334', 'Role: ', 0)
('Ayshah', 'si334', 'Role: ', 0)
('Aishah', 'si334', 'Role: ', 0)
('Pyper', 'si334', 'Role: ', 0)
('Mischa', 'si334', 'Role: ', 0)
('Strachan', 'si334', 'Role: ', 0)
('Marisa', 'si334', 'Role: ', 0)
('Elwyn', 'si334', 'Role: ', 0)
('Carwyn', 'si334', 'Role: ', 0)
('Basile', 'si334', 'Role: ', 0)
('Aneliese', 'si334', 'Role: ', 0)
('Sahana', 'si334', 'Role: ', 0)
('Marla', 'si334', 'Role: ', 0)
('Jessica', 'si334', 'Role: ', 0)
('Maya', 'si334', 'Role: ', 0)
('Meganlee', 'si334', 'Role: ', 0)
('Oluwadamiloju', 'si334', 'Role: ', 0)
('Maisi', 'si334', 'Role: ', 0)
('Maura', 'si334', 'Role: ', 0)
('Sharona', 'si334', 'Role: ', 0)
('Ainslie', 'si334', 'Role: ', 0)
('Roxabella', 'si334', 'Role: ', 0)
('Micaylah', 'si334', 'Role: ', 0)
('Mabruka', 'si334', 'Role: ', 0)
('Minnette', 'si334', 'Role: ', 0)
('Niomi', 'si334', 'Role: ', 0)
('Elizaveta', 'si334', 'Role: ', 0)
('Honie', 'si334', 'Role: ', 0)
('Annastacia', 'si334', 'Role: ', 0)
('Jayse', 'si334', 'Role: ', 0)
('Tayye', 'si334', 'Role: ', 0)
('Reuben', 'si334', 'Role: ', 0)
('Leona', 'si334', 'Role: ', 0)
('Avani', 'si334', 'Role: ', 0)
('Cindy', 'si334', 'Role: ', 0)
('Caryss', 'si334', 'Role: ', 0)
('Karly', 'si334', 'Role: ', 0)
('Leone', 'si334', 'Role: ', 0)
('Ozzy', 'si334', 'Role: ', 0)
('Rayyan', 'si334', 'Role: ', 0)
('Aqsa', 'si334', 'Role: ', 0)
('Laya', 'si363', 'Role: ', 1)
('Franklin', 'si363', 'Role: ', 0)
('Milly', 'si363', 'Role: ', 0)
('Nana', 'si363', 'Role: ', 0)
('Romey', 'si363', 'Role: ', 0)
('Liana', 'si363', 'Role: ', 0)
('Eman', 'si363', 'Role: ', 0)
('Coran', 'si363', 'Role: ', 0)
('Isimeli', 'si363', 'Role: ', 0)
('Islah', 'si363', 'Role: ', 0)
('Elana', 'si363', 'Role: ', 0)
('Priya', 'si363', 'Role: ', 0)
('Giane', 'si363', 'Role: ', 0)
('Jeya', 'si363', 'Role: ', 0)
('Reno', 'si363', 'Role: ', 0)
('Cullen', 'si363', 'Role: ', 0)
('Lennan', 'si363', 'Role: ', 0)
('Georgi', 'si363', 'Role: ', 0)
('Nevada', 'si363', 'Role: ', 0)
('Elaine', 'si363', 'Role: ', 0)
('Mahnoor', 'si363', 'Role: ', 0)
('Marlee', 'si363', 'Role: ', 0)
('Cheyanna', 'si363', 'Role: ', 0)
('Darah', 'si363', 'Role: ', 0)
('Cree', 'si363', 'Role: ', 0)
('Tori', 'si363', 'Role: ', 0)
('Ziya', 'si363', 'Role: ', 0)
('Kiah', 'si363', 'Role: ', 0)
('Iestyn', 'si363', 'Role: ', 0)
('Maisum', 'si363', 'Role: ', 0)
('Hristomir', 'si364', 'Role: ', 1)
('Rahil', 'si364', 'Role: ', 0)
('Annica', 'si364', 'Role: ', 0)
('Ellissia', 'si364', 'Role: ', 0)
('George', 'si364', 'Role: ', 0)
('Ceiran', 'si364', 'Role: ', 0)
('Bay', 'si364', 'Role: ', 0)
('Haylie', 'si364', 'Role: ', 0)
('Tieghan', 'si364', 'Role: ', 0)
('Tess', 'si364', 'Role: ', 0)
('Kruz', 'si364', 'Role: ', 0)
('Ryan', 'si364', 'Role: ', 0)
('Jeevan', 'si364', 'Role: ', 0)
('Cirah', 'si364', 'Role: ', 0)
('Reese', 'si364', 'Role: ', 0)
('Justinas', 'si364', 'Role: ', 0)
('Darrel', 'si364', 'Role: ', 0)
('Rayyan', 'si364', 'Role: ', 0)
('Olaf', 'si364', 'Role: ', 0)
('Devin', 'si364', 'Role: ', 0)
('Reilly', 'si364', 'Role: ', 0)
('Zoubaeir', 'si364', 'Role: ', 0)
('Lance', 'si364', 'Role: ', 0)
('Marcelina', 'si364', 'Role: ', 0)
('Coll', 'si364', 'Role: ', 0)
('Shannon', 'si364', 'Role: ', 0)
('Kaily', 'si364', 'Role: ', 0)
('Alexx', 'si364', 'Role: ', 0)
('Reuben', 'si364', 'Role: ', 0)
('Aonghus', 'si364', 'Role: ', 0)
('Arwen', 'si364', 'Role: ', 0)
('Coral', 'si364', 'Role: ', 0)
('Rheanne', 'si364', 'Role: ', 0)
('Kaywan', 'si364', 'Role: ', 0)
('Maeghan', 'si364', 'Role: ', 0)
('Victory', 'si364', 'Role: ', 0)
('Jace', 'si364', 'Role: ', 0)
('Nelson', 'si364', 'Role: ', 0)
('Kerriannah', 'si364', 'Role: ', 0)
('Joseph', 'si364', 'Role: ', 0)

('Ruqayah', 'si364', 'Role: ', 0)
('Adana', 'si364', 'Role: ', 0)
('Cherry', 'si364', 'Role: ', 0)
('Jaden', 'si364', 'Role: ', 0)
('Morvern', 'si364', 'Role: ', 0)
('Kitana', 'si364', 'Role: ', 0)
('Bowen', 'si364', 'Role: ', 0)
('Avesta', 'si422', 'Role: ', 1)
('Daood', 'si422', 'Role: ', 0)
('Maram', 'si422', 'Role: ', 0)
('Tanya', 'si422', 'Role: ', 0)
('Sineidin', 'si422', 'Role: ', 0)
('Dalong', 'si422', 'Role: ', 0)
('Lang', 'si422', 'Role: ', 0)
('Kian', 'si422', 'Role: ', 0)
('Jennifer', 'si422', 'Role: ', 0)
('Mario', 'si422', 'Role: ', 0)
('Neshawn', 'si422', 'Role: ', 0)
('Orrick', 'si422', 'Role: ', 0)
('Jaiha', 'si422', 'Role: ', 0)
('Kyron', 'si422', 'Role: ', 0)
('Ameelia', 'si422', 'Role: ', 0)
('Korben', 'si422', 'Role: ', 0)
('Vikki', 'si422', 'Role: ', 0)
('Jad', 'si422', 'Role: ', 0)
('Fintan', 'si422', 'Role: ', 0)
('Miriam', 'si422', 'Role: ', 0)
('Fabian', 'si422', 'Role: ', 0)
('Teagan', 'si422', 'Role: ', 0)
('Sum', 'si422', 'Role: ', 0)
('Hasan', 'si422', 'Role: ', 0)
('Shonagh', 'si422', 'Role: ', 0)
('Ayden', 'si422', 'Role: ', 0)
('Mawahib', 'si422', 'Role: ', 0)
('Nina', 'si422', 'Role: ', 0)
('Chanel', 'si422', 'Role: ', 0)
('Argyll', 'si422', 'Role: ', 0)
('Francis', 'si422', 'Role: ', 0)
('Skie', 'si422', 'Role: ', 0)
('Kearney', 'si422', 'Role: ', 0)
('Logann', 'si422', 'Role: ', 0)
('Warrick', 'si422', 'Role: ', 0)
('Dougray', 'si422', 'Role: ', 0)
('Jeanie', 'si422', 'Role: ', 0)
('Aiyanna', 'si422', 'Role: ', 0)
('Darcey', 'si422', 'Role: ', 0)
('Ellissia', 'si430', 'Role: ', 1)
('Vikki', 'si430', 'Role: ', 0)
('Maria', 'si430', 'Role: ', 0)
('Usmah', 'si430', 'Role: ', 0)
('Millicent', 'si430', 'Role: ', 0)
('Damien', 'si430', 'Role: ', 0)
('Santiago', 'si430', 'Role: ', 0)
('Ellice', 'si430', 'Role: ', 0)
('Jaina', 'si430', 'Role: ', 0)
('Binod', 'si430', 'Role: ', 0)
('Evelina', 'si430', 'Role: ', 0)
('Tadd', 'si430', 'Role: ', 0)
('Jannat', 'si430', 'Role: ', 0)
('Japjeet', 'si430', 'Role: ', 0)
('Titus', 'si430', 'Role: ', 0)
('Kellsie', 'si430', 'Role: ', 0)
('Hayla', 'si430', 'Role: ', 0)
('Kelam', 'si430', 'Role: ', 0)
('Presley', 'si430', 'Role: ', 0)
('Eshal', 'si430', 'Role: ', 0)
('Zaya', 'si430', 'Role: ', 0)
('Ateeq', 'si430', 'Role: ', 0)
('Geraldine', 'si430', 'Role: ', 0)
('Emmie', 'si430', 'Role: ', 0)
('Cullen', 'si430', 'Role: ', 0)
('Blaise', 'si430', 'Role: ', 0)
('Macaulay', 'si430', 'Role: ', 0)
('Inka', 'si430', 'Role: ', 0)
('Jayda', 'si430', 'Role: ', 0)
('Finley', 'si430', 'Role: ', 0)
('Joel', 'si430', 'Role: ', 0)
('Annaleigh', 'si430', 'Role: ', 0)
('Darragh', 'si430', 'Role: ', 0)
('Nicky', 'si430', 'Role: ', 0)
('Siya', 'si430', 'Role: ', 0)
('Anabella', 'si430', 'Role: ', 0)
('Valery', 'si430', 'Role: ', 0)
('McKade', 'si430', 'Role: ', 0)
('Melis', 'si430', 'Role: ', 0)
('Louanne', 'si430', 'Role: ', 0)
('Walid', 'si430', 'Role: ', 0)
('Raimee', 'si430', 'Role: ', 0)
('Bayleigh', 'si430', 'Role: ', 0)
('Alanah', 'si430', 'Role: ', 0)
('Nialla', 'si430', 'Role: ', 0)
('Clement', 'si430', 'Role: ', 0)

Retrieving GEOData
Download the code from http://www.py4e.com/code3/geodata.zip - then unzip the file and edit where.data to add an address nearby where you live - don't reveal where you live. Then run the geoload.py to lookup all of the entries in where.data (including the new one) and produce the geodata.sqlite. Then run geodump.py to read the database and produce where.js. You can run the programs and then scroll back to take your screen shots when the program finishes. Then open where.html to visualize the map. Take screen shots as described below. Make sure that your added location shows in all three of your screen shots.

This is a relatively simple assignment. Don't take off points for little mistakes. If they seem to have done the assignment give them full credit. Feel free to make suggestions if there are small mistakes. Please keep your comments positive and useful. If you do not take grading seriously, the instructors may delete your response and you will lose points.

Please Upload Your Submission:

Screen shot (JPG or PNG - Maximum 1MB) of the geoload.py program output in the command line including your added location (preferably highlighted).
(Please use PNG or JPG files)

Screen shot (JPG or PNG - Maximum 1MB) of the geodump.py program output in the command line including your added location (preferably highlighted).
(Please use PNG or JPG files)

Screen shot (JPG or PNG - Maximum 1MB) of the map zoomed into the location that you added after you open where.html in a browser
(Please use PNG or JPG files)

Enter optional comments below


Make sure each uploaded image file is smaller than 1M. Total upload size limited to 2M

The total number of points for this assignment is 10. You will get up to 3 points from your instructor. You will get up to 4 points from your peers. You will get 1 for each peer assignment you assess. You need to grade a minimum of 3 peer assignments. You can grade up to 5 peer assignments if you like.

In [18]:
#geoload.py
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('../../../00_Common_Data_Sets/databases/geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("../../../00_Common_Data_Sets/code3/geodata/where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Retrieving http://py4e-data.dr-chuck.net/json?address=Istanbul+University&key=42
Retrieved 1807 characters {    "results" : [

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Retrieving http://py4e-data.dr-chuck.net/json?address=Universitat+Politecnica+de+Valencia&key=42
Retrieved 2118 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Universite+Catholique+de+Louvain&key=42
Retrieved 2407 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+College+Dublin&key=42
Retrieved 1667 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+Munich&key=42
Retrieved 2271 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Akron&key=42
Retrieved 2117 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Alberta&key=42
Retrieved 2021 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Amsterdam&key=42
Retrieved 2050 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Arkansas&key=42
Retrieved 2066 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Athens&key=42
Retrieved 1627 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Belgrade&key=42
Retrieved 1944 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Birmingham&key=42
Retrieved 1804 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Buenos+Aires&key=42
Retrieved 2132 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cambridge&key=42
Retrieved 2138 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Central+Oklahoma&key=42
Retrieved 2287 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Chicago&key=42
Retrieved 2473 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cincinnati&key=42
Retrieved 2310 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Colorado+at+Boulder&key=42
Retrieved 1816 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Connecticut&key=42
Retrieved 1813 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Dallas&key=42
Retrieved 2279 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Debrecen&key=42
Retrieved 1720 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Delaware&key=42
Retrieved 3903 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Erlangen-Nuremberg&key=42
Retrieved 2263 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Essex&key=42
Retrieved 2004 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Evora&key=42
Retrieved 1927 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Florida&key=42
Retrieved 1820 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Gothenburg&key=42
Retrieved 1814 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Greifswald&key=42
Retrieved 1910 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hamburg&key=42
Retrieved 1787 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hawaii&key=42
Retrieved 2282 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Helsinki&key=42
Retrieved 1720 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ilorin+Kwara+State&key=42
Retrieved 1616 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Jaffna&key=42
Retrieved 3589 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kansas&key=42
Retrieved 2129 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kerala&key=42
Retrieved 2306 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+London&key=42
Retrieved 2305 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaga&key=42
Retrieved 2084 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaya&key=42
Retrieved 1917 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Manchester&key=42
Retrieved 1978 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Michigan&key=42
Retrieved 2136 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Missouri+-+Columbia&key=42
Retrieved 1814 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Moratuwa&key=42
Retrieved 2000 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Mumbai&key=42
Retrieved 2507 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska&key=42
Retrieved 2112 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska+-+Lincoln&key=42
Retrieved 2112 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+Haven&key=42
Retrieved 2150 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+South+Wales&key=42
Retrieved 1818 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Notre+Dame&key=42
Retrieved 1840 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oklahoma&key=42
Retrieved 2129 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ottawa&key=42
Retrieved 2312 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oxford&key=42
Retrieved 1785 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Padua&key=42
Retrieved 2294 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pavia+Italy&key=42
Retrieved 2301 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pennsylvania&key=42
Retrieved 1846 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Piraeus+Athens&key=42
Retrieved 1916 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pretoria&key=42
Retrieved 2222 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Salamanca&key=42
Retrieved 1785 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sao+Paulo&key=42
Retrieved 1703 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sarajevo&key=42
Retrieved 2361 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Southern+California&key=42
Retrieved 2355 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Stellenbosch&key=42
Retrieved 1903 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tartu&key=42
Retrieved 1906 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tehran&key=42

Retrieved 1678 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas&key=42
Retrieved 1795 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas+at+Austin&key=42
Retrieved 1795 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Toronto&key=42
Retrieved 2327 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tuebingen&key=42
Retrieved 2175 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Twente&key=42
Retrieved 1984 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Utah&key=42
Retrieved 2157 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Vienna&key=42
Retrieved 2094 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Warsaw&key=42
Retrieved 2331 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington&key=42
Retrieved 1815 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington+-+Bothell&key=42
Retrieved 2288 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Waterloo&key=42
Retrieved 2166 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+West+Florida&key=42
Retrieved 2355 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Wisconsin&key=42
Retrieved 1649 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Punjab+Lahore&key=42
Retrieved 4571 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Witwatersrand&key=42
Retrieved 2392 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+Gediminas+Technical+University&key=42
Retrieved 2142 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+University&key=42
Retrieved 2143 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=Virginia+Commonwealth+University&key=42
Retrieved 1921 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Virginia+Tech&key=42
Retrieved 1838 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Viswakarma+Institute+Pune+India&key=42
Retrieved 2390 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Warsaw+University&key=42
Retrieved 2331 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Washington+State+University&key=42
Retrieved 1767 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Wayne+State&key=42
Retrieved 1921 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Weber+State&key=42
Retrieved 2112 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Weizmann+Institute+of+Science&key=42
Retrieved 2175 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Western+Governors+University&key=42
Retrieved 2292 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Xavier+University&key=42
Retrieved 4558 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=Zagazig+University&key=42
Retrieved 2002 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=allama+iqbal+open+university+islamabad&key=42
Retrieved 2912 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=arizona+state+university&key=42
Retrieved 1802 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=federal+institute+of+tecnology+and+education+from+southeastern+Minas+Gerais&key=42
Retrieved 2244 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=kansas+state+university&key=42
Retrieved 1807 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=universidad+complutense+de+madrid&key=42
Retrieved 2088 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=university+of+Patras&key=42
Retrieved 1656 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=university+of+padua&key=42
Retrieved 2294 characters {    "results" : [
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [19]:
#geodump.py
import sqlite3
import json
import codecs

conn = sqlite3.connect('../../../00_Common_Data_Sets/databases/geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('../../../00_Common_Data_Sets/code3/geodata/where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، First New Cairo, Cairo Governorate 11835, Egypt 30.018923 31.499674
Tempe, AZ 85281, USA 33.4242399 -111.9280527
300, 2500 Daniells Bridge Rd, Athens, GA 30606, USA 33.9094132 -83.4603953
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
Ilishan-Remo, Nigeria 6.8939569 3.7187158
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Main Rd, Gnana Bharathi, Bengaluru, Karnataka 560056, India 12.9504351 77.5021998
1301 S University Parks Dr, Waco, TX 76706, USA 31.5497007 -97.1143046
19 Xinjiekou Outer St, Bei Tai Ping Zhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
שד בן-גוריון 1, באר שבע, Israel 31.262218 34.801461
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
San Luis Obispo, CA 93407, USA 35.3050053 -120.6624942
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1817955 -117.3237219
25 Paddington Green, London W2 1NB, UK 51.5210038 -0.1746353
New York, NY 10027, USA 40.8075355 -73.9625727
College Rd, Cranfield, Bedford MK43 0AL, UK 52.0746136 -0.6282833
Zikova 1903/4, 166 36 Praha 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886935
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3195617 -122.0448307
Universitätsstraße 47, 58097 Hagen, Germany 51.377409 7.4921548
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
Kültür, Cumhuriyet Blv No:144, 35220 Konak/İzmir, Turkey 38.4306911 27.1369201
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Avenue Guy de Collongue, 69130 Écully, France 45.7864448 4.7641329
CentraleSupélec, 3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.7087594 2.1640062
50 Campus Drive, Elon, NC 27244, USA 36.1060867 -79.5053531
Spangsbjerg Kirkevej 103, 6700 Esbjerg, Denmark 55.48843069999999 8.4467103
Vía Perimetral 5, Guayaquil, Ecuador -2.1481458 -79.9644885
Münsterstraße 156, 40476 Düsseldorf, Germany 51.2468622 6.791686899999999
Urstein Süd 1, 5412 Puch bei Hallein, Austria 47.7233835 13.0871253
Av. Tiradentes, 615 - Bom Retiro, São Paulo - SP, 01124-060, Brazil -23.5295544 -46.6325856
Trg Dositeja Obradovića 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529512 -73.4267093
Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7790898 -72.05560229999999
Jalukbari, Guwahati, Assam 781014, India 26.1543199 91.66316789999999
4400 University Dr, Fairfax, VA 22030, USA 38.8350915 -77.3078014
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Oude Markt 13, 3000 Leuven, Belgium 50.87795449999999 4.7002953
1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội, Vietnam 21.0048067 105.8453406
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448019 78.3497604
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Raja 4, 12616 Tallinn, Estonia 59.3954769 24.6643815
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
Calle della Lacca, 2468, 30125 San Polo, Venezia VE, Italy 45.4382119 12.3256866
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
100 N University St, Normal, IL 61761, USA 40.5120479 -88.9931683
IIT Campus, Hauz Khas, New Delhi, Delhi 110016, India 28.5449756 77.19262839999999
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line Rd, IIT (ISM, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004, India 23.8143819 86.44120219999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
3230 Rue Sicotte, Saint-Hyacinthe, QC J2S 2M2, Canada 45.618372 -72.9675991
2400 Walsh Ave, Santa Clara, CA 95051, USA 37.3686167 -121.9695133
Av. de Los Próceres 49, Santo Domingo 10602, Dominican Republic 18.487876 -69.96229199999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448019 78.3497604
Karl Marx St, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766124 104.2777287
Jadavpur university gate, 3, Jadavpur, Kolkata, West Bengal 700032, India 22.4988822 88.3714123
Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India 17.4932682 78.3913929
New Mehrauli Road, JNU Ring Rd, New Delhi, Delhi 110067, India 28.540214 77.1661949
Ar Ramtha 3030، Ar-Ramtha, Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
1 Hospital Dr, Columbia, MO 65212, USA 38.9385202 -92.32786569999999
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
Gričiupio g. 13, Kaunas 51377, Lithuania 54.90518780000001 23.9666693
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
Kremlyovskaya St, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214349
800 E Summit St, Kent, OH 44240, USA 41.1455594 -81.33928829999999
Marshala Bazhanova St, 17, Kharkiv, Kharkivska oblast, Ukraine, 61000 49.9953598 36.242221
126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.6510248 100.4953802
Kokshetau 020000, Kazakhstan 53.2871307 69.40444939999999
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491694 30.4561475
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491694 30.4561475
Kyiv, Ukraine, 02000 50.4501 30.5234
935 Ramsey Lake Rd, Sudbury, ON P3E 2C6, Canada 46.467856 -80.9738523
Stefana Żeromskiego 116, 90-924 Łódź, Poland 51.7537146 19.4517176
Universytetska St, 1, Lviv, Lvivska oblast, Ukraine, 79000 49.8406108 24.0225099
220 Trowbridge Rd, East Lansing, MI 48824, USA 42.701848 -84.4821719
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Prospekt Lenina, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.4222397 58.9824868
Hamadan Province, Malayer, University Blvd, Iran 34.304073 48.8452846
215 5th St, Marietta, OH 45750, USA 39.41665649999999 -81.44993509999999
Near Home WTC AUH, Airport Road - Masdar City - Abu Dhabi - United Arab Emirates 24.4330231 54.619113
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
220 Trowbridge Rd, East Lansing, MI 48824, USA 42.701848 -84.4821719
Üniversiteler, Dumlupınar Blv. No:1, 06800 Çankaya/Ankara, Turkey 39.8910203 32.7780027
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, USA 37.9536715 -91.7756278
Wellington Rd, Clayton VIC 3800, Australia -37.9105599 145.1362485
Wellington Rd, Clayton VIC 3800, Australia -37.9105599 145.1362485
Northways Rd, Churchill VIC 3842, Australia -38.311211 146.429409
Blvd. Enrique Mazón López 965, 83000 Son., Mexico 29.1696946 -110.9112662
Kashira Hwy, 31, Moskva, Russia, 115409 55.6499374 37.6641161
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
ul. Leninskiye Gory, 1, Moskva, Russia, 119991 55.70393490000001 37.5286696
National Institute of Technology, Sector 1, Rourkela, Odisha 769008, India 22.2533781 84.9012363
New York, NY 10003, USA 40.72951339999999 -73.9964609
Amravati Rd, Ram Nagar, Nagpur, Maharashtra 440033, India 21.1468555 79.050062
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Bye pass, Jalandhar, Punjab 144011, India 31.3961507 75.5353566
No. 1, Section 4, Roosevelt Rd, Da’an District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Avenida Tupac Amaru 210 Apartado 1301, Rímac 15333, Peru -12.0237376 -77.04837739999999
30 N Brainard St, Naperville, IL 60540, USA 41.772663 -88.1440142
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
Студенческий городок, 1, Obninsk, Kaluzhskaya oblast, Russia, 249034 55.1372019 36.6064735
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8841106 -76.304239
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2573474 -121.7849109
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran, اتوبان ارتش کوی نفت, Nakhl St, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Piazza Leonardo da Vinci, 32, 20133 Milano MI, Italy 45.47809059999999 9.2282377
Splaiul Independenței 313, București 060042, Romania 44.4386064 26.0494925
Piața Victoriei 2, Timișoara 300006, Romania 45.7536393 21.2251615
Pondicherry University, Chinna Kalapet, Kalapet, Puducherry 605014, India 12.0182619 79.8568461
Av Libertador Bernardo OHiggins 340, Santiago, Región Metropolitana, Chile -33.4411794 -70.64075679999999
1825 SW Broadway, Portland, OR 97201, USA 45.5111014 -122.6833472
420 University Blvd, Indianapolis, IN 46202, USA 39.7740665 -86.17645859999999
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.7297628 -73.67888839999999
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.0819323 -74.1758157
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0845894 -77.67434449999999
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989199
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.2966081
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.00744979999999 30.3729617
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shanghai Shi, Minhang Qu, 东川路 邮政编码: 200240 31.0252201 121.4337784
Tehran, خیابان آزادی، تهران بزرگ،، Iran 35.7036361 51.35156199999999
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3395188 -122.6744666
ул, Bolshaya Sadovaya Ulitsa, 105/42, Rostov, Rostovskaya oblast, Russia, 344006 47.224719 39.7283339
Strada Ion Ghica 13, București 030045, Romania 44.4332166 26.1009718
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitária Zeferino Vaz - Barão Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
7060 NY-104, Oswego, NY 13126, USA 43.45139280000001 -76.5425285
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.0590153 -71.0806276
Narva maantee 25, 10120 Tallinn, Estonia 59.4387321 24.7713836
Ehitajate tee 5, 12616 Tallinn, Estonia 59.3959451 24.6710596
Korkeakoulunkatu 7 Kampusareena, 33720 Tampere, Finland 61.4498286 23.8589986
El-Gaish, Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
1500 Houston St, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
Linkkikatu 15, 21100 Naantali, Finland 60.4706859 22.0694608
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Main Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9452892 80.207843
Raiņa bulvāris 19, Centra rajons, Rīga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676588 28.1992637
300 N Broadway, Lexington, KY 40508, USA 38.0516801 -84.49334189999999
419 Boston Ave, Medford, MA 02155, USA 42.4074843 -71.1190232
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
1049 University Dr, Duluth, MN 55812, USA 46.8186613 -92.0835669
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676588 28.1992637
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
101 Regent Ct, State College, PA 16801, USA 40.785354 -77.8227563
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Madison, WI, USA 43.076592 -89.4124875
Caracas, Capital District, Venezuela 10.4883502 -66.8891696
Av. Séneca, 2, 28040 Madrid, Spain 40.4454368 -3.7299424
Bucaramanga, Santander, Colombia 7.1297913 -73.1136365
University City, Coyoacán, 04510 Mexico City, CDMX, Mexico 19.332465 -99.1847825
Avenida 1, Calle 9 Heredia 86, Heredia, 3000, Costa Rica 9.9986898 -84.11118979999999
Cra 45, Bogotá, Colombia 4.6381938 -74.08404639999999
Calle Colombia 154, La Paz, Bolivia -16.500656 -68.134299
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Av. Camilo José Cela, 50, 13071 Ciudad Real, Cdad. Real, Spain 38.99404390000001 -3.9204979
Cra. 1 #18a 12, Bogotá, Cundinamarca, Colombia 4.6014864 -74.0663881
Via Alterna, Barcelona 6001, Anzoátegui, Venezuela 10.1732454 -64.6525884
11 Av, Guatemala 01012, Guatemala 14.587349 -90.55341399999999
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Chía, Cundinamarca, Colombia 4.8615787 -74.0325368
18 Avenida 11-95 Guatemala, Guatemala 01015, Guatemala 14.603762 -90.48924799999999
Campus I - Lot. Cidade Universitaria, João Pessoa - PB, 58051-900, Brazil -7.1377579 -34.8458995
R. Eng. Agronômico Andrei Cristian Ferreira, s/n - Trindade, Florianópolis - SC, 88040-900, Brazil -27.6000837 -48.5194214
Av. Paulo Gama, 110 - Farroupilha, Porto Alegre - RS, 90040-060, Brazil -30.0336054 -51.2198408
Av. Pedro Calmon, 550 - Cidade Universitária - Botafogo, Rio de Janeiro - RJ, 21941-901, Brazil -22.9541412 -43.1753638
Av. Rovisco Pais 1, 1049-001 Lisboa, Portugal 38.7368192 -9.138705
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
R. da Universidade, 4710-057 Braga, Portugal 41.5607319 -8.3962368
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
Beyazıt, 34452 Fatih/İstanbul, Turkey 41.0126037 28.961838
Camí de Vera, s/n, 46022 València, Valencia, Spain 39.4807985 -0.3406299
Place de lUniversité 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.66968749999999 4.6155909
Belfield, Dublin, Ireland 53.30823119999999 -6.224133
Arcisstraße 21, 80333 München, Germany 48.14966 11.5678602
302 E Buchtel Ave, Akron, OH 44325, USA 41.0770227 -81.5114462
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
Birmingham B15 2TT, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.2042666 0.1149085
100 N University Dr, Edmond, OK 73034, USA 35.6577749 -97.4715226
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45221, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8462097 -96.9210392
Debrecen, Egyetem tér 1, 4032 Hungary 47.55361130000001 21.6214752
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloßplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7000-803 Évora, Portugal 38.573181 -7.904595100000001
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstraße 11, 17489 Greifswald, Germany 54.0949653 13.374584
20146 Hamburg, Germany 53.5665641 9.984619499999999
2500 Campus Rd, Honolulu, HI 96822, USA 21.296939 -157.8171118
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
Ilorin, Nigeria 8.4912458 4.5949818
Sir. Pon Ramanathan Road, Thirunelvelly, Kokuvil East 40000, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, Bloomsbury, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Málaga, Spain 36.7199495 -4.4161391
Jalan Universiti, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1209046 101.6538414
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.795127399999999 79.90078710000002
123, Mahatma Gandhi Road, Kala Ghoda, Fort, Mumbai, Maharashtra 400032, India 18.9293321 72.8310376
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2907035 -72.9616437
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.7055716 -86.2353388
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via 8 Febbraio 1848, 2, 35122 Padova PD, Italy 45.406766 11.8774462
Corso Str. Nuova, 65, 27100 Pavia PV, Italy 45.1867055 9.1568417
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415137 23.6528681
Lynnwood Rd, Hatfield, Pretoria, 0002, South Africa -25.7545492 28.2314476
37008 Salamanca, Spain 40.9613376 -5.666925099999999
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891

Obala Kulina bana 7, Sarajevo 71000, Bosnia and Herzegovina 43.856883 18.4188848
777-785 W Jefferson Blvd, Los Angeles, CA 90007, USA 34.0236816 -118.2838458
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
Ülikooli 18, 50090 Tartu, Estonia 58.3810843 26.7198659
Tehran Province, Tehran, Enghelab Square، Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S, Canada 43.6628917 -79.39565640000001
Geschwister-Scholl-Platz, 72074 Tübingen, Germany 48.5294782 9.043773999999999
5, Drienerlolaan, 7522 NB Enschede, Netherlands 52.23979740000001 6.8499883
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universitätsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Seattle, WA 98195, USA 47.65533509999999 -122.3035199
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589 -122.1906495
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576
11000 University Pkwy, Pensacola, FL 32514, USA 30.5491387 -87.21858619999999
Madison, WI, USA 43.076592 -89.4124875
Canal Rd, Quaid-i-Azam Campus, Lahore, Punjab, Pakistan 31.47898409999999 74.2661627
1 Jan Smuts Ave, Johannesburg, 2000, South Africa -26.1928836 28.0304733
Saulėtekio al. 11, Vilnius 10221, Lithuania 54.7224678 25.3376688
Universiteto g. 3, Vilnius 01513, Lithuania 54.6825757 25.2876469
907 Floyd Ave, Richmond, VA 23284, USA 37.5483122 -77.4526805
Blacksburg, VA 24061, USA 37.22838429999999 -80.42341669999999
666, Upper Indira Nagar, Bibwewadi, Pune, Maharashtra 411037, India 18.464077 73.867619
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Pullman, WA, USA 46.7319225 -117.1542121
Wayne State, Detroit, MI, USA 42.3590346 -83.07087369999999
3848 Harrison Blvd, Ogden, UT 84408, USA 41.1915029 -111.9431204
235-4823 Rue Sherbrooke Ouest, Westmount, QC H3Z 1G7, Canada 45.479607 -73.6031548
4001 S 700 E #700, Salt Lake City, UT 84107, USA 40.6849285 -111.8700525
3800 Victory Pkwy, Cincinnati, OH 45207, USA 39.149448 -84.47363740000002
خلف مستشفى الجامعة امام استاد الشرقية الزقازيق مساكن الاستاد الرياضى، Shaibet an Nakareyah, Zagazig 2, Ash Sharqia Governorate 44516, Egypt 30.5877119 31.4827891
2 Ashfaq Ahmed Rd, H-8/2 H 8/2 H-8, Islamabad, Islamabad Capital Territory 44000, Pakistan 33.6850236 73.05474199999999
Tempe, AZ 85281, USA 33.4242399 -111.9280527
Av. Professor Mário Werneck, 2590 - Buritis, Belo Horizonte - MG, 30575-180, Brazil -19.9758721 -43.9705856
Manhattan, KS 66506, USA 39.1974437 -96.5847249
Av. Séneca, 2, 28040 Madrid, Spain 40.4375731 -3.7252231
Panepistimioupoli Patron 265 04, Greece 38.28923 21.785369
Via 8 Febbraio 1848, 2, 35122 Padova PD, Italy 45.406766 11.8774462
298 records written to where.js
Open where.html to view the data in a browser

In [21]:
from IPython.display import display
display(filename='../../../00_Common_Data_Sets/code3/geodata/where.html')